---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";

const drinks = ["Mint Mojito", "Watermelon Lemon Spritzer", "Margarita"]

const cocktailHour = ["Mini Crab Cakes with Spicy Mayo", "Grilled Chicken Skewer with Garlic Chili Dipping", "Meatballs in Spicy Tomato Sauce", "Burrata Cheese, Baby Arugula, Pickled Red Onions, Fig Glaze (VEG)", "Mini BBQ Pulled Pork Tacos, Pickled Red Onion, Tequila Lime Creama"]

const cocktailStations = [
  {
    title: "Mediterranean Tapas Bar",
    description: "Roasted peppers, Feta Cheese, Artichoke Hearts, Olive Hummus, Garlic Hummus, Israeli Salad, Tabbouleh Salad, Pickled Red Onions, Assorted Olives, Bleu Cheese Stuffed Olives and Fresh Pita"
  },
  {
    title: "Italian Station",
    description: "Chicken, Shrimp, Broccoli Rabe — Vodka Sauce, Francaise Sauce, Marinara Sauce — Cheese Ravioli Pasta, Linguine Pasta,Cavatelli Pasta"
  }
  
]

const dinnerMenu = [
  {
    title: "Duet salad",
    description: "Hearts Of Romaine Salad and Caprese Salad"
  },
  {
    title: "Pan Seared Almond Encrusted Chicken",
    description: "Baby Arugula & Fresh Tomato, Almond Cream Sauce Bistro Sliced Steak with Garlic and Lemon Basil Pan Sauce (MR) Crispy Salmon with Dill Lemon Sauce"
  },
  {
    title: "Bistro Sliced Steak",
    description: "Garlic and Lemon Basil Pan Sauce (MR)"
  },
  {
    title: "Crispy Salmon",
    description: "Dill Lemon Sauce"
  },
]

const sides = ["Oven Roasted Garlic, Eggplant, Yellow Squash, Zucchini, and Garlic Mashed Potatoes"]

const dessert = [
  {
    title: "Cannoli Station",
    description: "Assorted Cannoli Creams (Chocolate and Orange-Ricotta Cream)Toppings- M&M, Rainbow Sprinkles, Reese\’s Pieces, Crushed Pistachio, Semi-Sweet Chocolate Chips, Royal Icing, and Chocolate sauce"
  }
]

---

<ContentSection title="Menu" id="features">
  <h2 class="text-xl font-bold text-amber-800">Signature cocktails</h2>
  <ul>
    {
      drinks.map((title) => (
        <li class="flex flex-row py-1 lowercase">
          <p class="text-sm italic">{title}</p>
        </li>
      ))
    }
  </ul>
  <h2 class="text-xl font-bold text-amber-800">Cocktail hour</h2>
  <ul>
    {
      cocktailHour.map((title) => (
        <li class="flex bg-offset py-1 lowercase">
          <p class="text-sm italic">{title}</p>
        </li>
      ))
    }
  </ul>
  <h2 class="text-xl font-bold text-amber-800">Cocktail hour stations</h2>
  <ul class="max-w-md">
    {
      cocktailStations.map(({ title, description }) => (
        <li class="flex flex-col bg-offset py-1 lowercase">
          <p class="text-lg font-bold pb-2">{title}</p>
          <p class="text-sm text-offset italic">{description}</p>
        </li>
      ))
    }
  </ul>
  <h2 class="text-xl font-bold text-amber-800">Dinner</h2>
  <ul class="max-w-md">
    {
      dinnerMenu.map(({ title, description }) => (
        <li class="flex flex-col bg-offset py-1 lowercase">
          <p class="text-lg font-bold pb-2">{title}</p>
          <p class="text-sm text-offset italic">{description}</p>
        </li>
      ))
    }
  </ul>
  <h2 class="text-xl font-bold text-amber-800">Sides</h2>
  <ul class="max-w-md">
    {
      sides.map((title) => (
        <li class="flex flex-col bg-offset lowercase">
          <p class="text-sm text-offset italic">{title}</p>
          </li>
          ))
        }
  </ul>
  <h2 class="text-xl font-bold text-amber-800">Dessert</h2>
  <ul class="max-w-md">
    {
      dessert.map(({ title, description }) => (
        <li class="flex flex-col bg-offset py-1 lowercase">
          <p class="text-lg font-bold pb-2">{title}</p>
          <p class="text-sm text-offset italic">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
