---
import { generateImage } from "astro-eleventy-img";
import HeroImage from "~/components/hero-image.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

const { webp, avif, png } = generateImage("src/assets/wedding-01.jpg", {
  widths,
  formats: ["webp", "avif", "png"],
  outputDir: "public/assets/images/wedding-01",
  urlPath: "/assets/images/wedding-01",
});

const avifSrcset = avif.map(({ srcset }) => srcset).join(",");
const webpSrcset = webp.map(({ srcset }) => srcset).join(",");
const pngSrcset = png.map(({ srcset }) => srcset).join(",");
---

<section class="relative h-full bg-amber-50">
  <picture
      class="absolute h-full w-full opacity-25 mix-blend-multiply"
    >
      <source type="image/avif" srcset={avifSrcset} {sizes} />
      <source type="image/webp" srcset={webpSrcset} {sizes} />
      <source type="image/png" srcset={pngSrcset} {sizes} />
      <img
        class="object-cover w-full h-full"
        src={png[0].url}
        width={png[0].width}
        height={png[0].height}
        alt="Ksenyia and Frank"
      />
    </picture>
  <div class="relative grid h-full sm:grid-cols-1 gap-4 place-items-center">
    <h2
      class="flex flex-col gap-2 "
    >
      <div
        class="font-bold tracking-tighter text-center text-8xl text-zinc-800"
      >
        Frank &amp;
        <br /> Kseniya
      </div>
    </h2>
    
  </div>
</section>

<!-- https://github.com/withastro/compiler/issues/395 -->
<!-- <noscript>
  <style>
    #splash-bg-fallback {
      @apply block;
    }
  </style>
</noscript> -->

<!-- <style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  picture {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    picture {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style> -->
